In [ ]:
from google.colab import files
uploaded = files.upload()

import pandas as pd
import io  
df = pd.read_csv(io.BytesIO(uploaded['Churn_Modelling.csv']))

Saving Churn_Modelling.csv to Churn_Modelling (1).csv

In [ ]:
 df.head(10)

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0
5          6    15574012       Chu  ...               0       149756.71      1
6          7    15592531  Bartlett  ...               1        10062.80      0
7          8    15656148    Obinna  ...               0       119346.88      1
8          9    15792365        He  ...               1        74940.50      0
9         10    15592389        H?  ...               1        71725.73      0

[10 rows x 14 columns]

In [ ]:
df.drop(['CustomerId','Surname','RowNumber'],axis='columns',inplace=True)

In [ ]:
df.head(
)

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

In [ ]:
df.dtypes

CreditScore          int64
Geography           object
Gender              object
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
dtype: object

In [ ]:
df.isna().sum()

CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [ ]:
def obj_unique(df):
  for col in df:
    if df[col].dtype=='object':
      print(f'{col}: {df[col].unique()}')

In [ ]:
obj_unique(df)

Geography: ['France' 'Spain' 'Germany']
Gender: ['Female' 'Male']

In [ ]:
df['Gender'].replace({'Female':1,'Male':0},inplace=True)

In [ ]:
df.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France       1  ...               1        101348.88       1
1          608     Spain       1  ...               1        112542.58       0
2          502    France       1  ...               0        113931.57       1
3          699    France       1  ...               0         93826.63       0
4          850     Spain       1  ...               1         79084.10       0

[5 rows x 11 columns]

In [ ]:
df1=pd.get_dummies(data=df,columns=['Geography'])
df1.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       1  ...                  0                0
1          608       1  ...                  0                1
2          502       1  ...                  0                0
3          699       1  ...                  0                0
4          850       1  ...                  0                1

[5 rows x 13 columns]

In [ ]:
df1.dtypes

CreditScore            int64
Gender                 int64
Age                    int64
Tenure                 int64
Balance              float64
NumOfProducts          int64
HasCrCard              int64
IsActiveMember         int64
EstimatedSalary      float64
Exited                 int64
Geography_France       uint8
Geography_Germany      uint8
Geography_Spain        uint8
dtype: object

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
df2=df1.copy()
to_be_scaled=['CreditScore','Age','Tenure','Balance','NumOfProducts','EstimatedSalary']

df2[to_be_scaled]=scaler.fit_transform(df2[to_be_scaled])

In [ ]:
df2.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0        0.538       1  ...                  0                0
1        0.516       1  ...                  0                1
2        0.304       1  ...                  0                0
3        0.698       1  ...                  0                0
4        1.000       1  ...                  0                1

[5 rows x 13 columns]

In [ ]:
X=df2.drop('Exited',axis='columns')
y=df2['Exited']

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=5)

In [ ]:
len(X_train)

8000

In [ ]:
len(y_train)

8000

In [ ]:
X_train.shape

(8000, 12)

In [ ]:
import tensorflow as tf
from tensorflow import keras

model=keras.Sequential([
                        keras.layers.Dense(12,input_shape=(12,),activation='relu'),
                        keras.layers.Dense(6,activation='relu'),
                        keras.layers.Dense(1,activation='sigmoid')
])

model.compile(
    optimizer='adam',
    loss='binary_crossentropy',
    metrics=['accuracy']

)

model.fit(X_train,y_train,epochs=100)

Epoch 1/100
250/250 [==============================] - 1s 1ms/step - loss: 0.5515 - accuracy: 0.7500
Epoch 2/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4732 - accuracy: 0.7960
Epoch 3/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4568 - accuracy: 0.7985
Epoch 4/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4456 - accuracy: 0.8091
Epoch 5/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4370 - accuracy: 0.8133
Epoch 6/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4280 - accuracy: 0.8165
Epoch 7/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4202 - accuracy: 0.8195
Epoch 8/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4137 - accuracy: 0.8229
Epoch 9/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4074 - accuracy: 0.8245
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4021 - accuracy: 0.8254
Epoch 11/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3970 - accuracy: 0.8280
Epoch 12/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3932 - accuracy: 0.8300
Epoch 13/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3882 - accuracy: 0.8313
Epoch 14/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3847 - accuracy: 0.8330
Epoch 15/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3817 - accuracy: 0.8371
Epoch 16/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3778 - accuracy: 0.8405
Epoch 17/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3745 - accuracy: 0.8409
Epoch 18/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3729 - accuracy: 0.8431
Epoch 19/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3699 - accuracy: 0.8445
Epoch 20/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3677 - accuracy: 0.8428
Epoch 21/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3656 - accuracy: 0.8454
Epoch 22/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3636 - accuracy: 0.8485
Epoch 23/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3610 - accuracy: 0.8487
Epoch 24/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3596 - accuracy: 0.8500
Epoch 25/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3564 - accuracy: 0.8493
Epoch 26/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3555 - accuracy: 0.8504
Epoch 27/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3546 - accuracy: 0.8534
Epoch 28/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3534 - accuracy: 0.8525
Epoch 29/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3524 - accuracy: 0.8546
Epoch 30/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3513 - accuracy: 0.8564
Epoch 31/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3497 - accuracy: 0.8576
Epoch 32/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3501 - accuracy: 0.8558
Epoch 33/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3482 - accuracy: 0.8566
Epoch 34/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3489 - accuracy: 0.8566
Epoch 35/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3480 - accuracy: 0.8581
Epoch 36/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3466 - accuracy: 0.8594
Epoch 37/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3465 - accuracy: 0.8581
Epoch 38/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3459 - accuracy: 0.8574
Epoch 39/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3456 - accuracy: 0.8584
Epoch 40/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3451 - accuracy: 0.8591
Epoch 41/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3436 - accuracy: 0.8608
Epoch 42/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3433 - accuracy: 0.8581
Epoch 43/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3434 - accuracy: 0.8599
Epoch 44/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3439 - accuracy: 0.8585
Epoch 45/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3419 - accuracy: 0.8599
Epoch 46/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3415 - accuracy: 0.8608
Epoch 47/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3439 - accuracy: 0.8596
Epoch 48/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3415 - accuracy: 0.8602
Epoch 49/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3410 - accuracy: 0.8602
Epoch 50/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3410 - accuracy: 0.8595
Epoch 51/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3406 - accuracy: 0.8641
Epoch 52/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3405 - accuracy: 0.8608
Epoch 53/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3408 - accuracy: 0.8615
Epoch 54/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3403 - accuracy: 0.8622
Epoch 55/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3395 - accuracy: 0.8630
Epoch 56/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3394 - accuracy: 0.8612
Epoch 57/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3393 - accuracy: 0.8624
Epoch 58/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3392 - accuracy: 0.8625
Epoch 59/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3389 - accuracy: 0.8602
Epoch 60/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3391 - accuracy: 0.8605
Epoch 61/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3387 - accuracy: 0.8600
Epoch 62/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3388 - accuracy: 0.8626
Epoch 63/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3380 - accuracy: 0.8614
Epoch 64/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3386 - accuracy: 0.8606
Epoch 65/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3383 - accuracy: 0.8606
Epoch 66/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3383 - accuracy: 0.8589
Epoch 67/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3371 - accuracy: 0.8640
Epoch 68/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3381 - accuracy: 0.8599
Epoch 69/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3373 - accuracy: 0.8614
Epoch 70/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3371 - accuracy: 0.8637
Epoch 71/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3366 - accuracy: 0.8637
Epoch 72/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3377 - accuracy: 0.8609
Epoch 73/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3369 - accuracy: 0.8635
Epoch 74/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3379 - accuracy: 0.8627
Epoch 75/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3372 - accuracy: 0.8640
Epoch 76/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3362 - accuracy: 0.8633
Epoch 77/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3355 - accuracy: 0.8625
Epoch 78/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3363 - accuracy: 0.8630
Epoch 79/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3355 - accuracy: 0.8609
Epoch 80/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3357 - accuracy: 0.8635
Epoch 81/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3360 - accuracy: 0.8621
Epoch 82/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3360 - accuracy: 0.8630
Epoch 83/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3374 - accuracy: 0.8648
Epoch 84/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3358 - accuracy: 0.8637
Epoch 85/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3369 - accuracy: 0.8624
Epoch 86/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3360 - accuracy: 0.8629
Epoch 87/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3360 - accuracy: 0.8641
Epoch 88/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3358 - accuracy: 0.8608
Epoch 89/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3343 - accuracy: 0.8625
Epoch 90/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3358 - accuracy: 0.8624
Epoch 91/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3361 - accuracy: 0.8648
Epoch 92/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3357 - accuracy: 0.8611
Epoch 93/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3342 - accuracy: 0.8634
Epoch 94/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3344 - accuracy: 0.8630
Epoch 95/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3343 - accuracy: 0.8622
Epoch 96/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3348 - accuracy: 0.8626
Epoch 97/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3337 - accuracy: 0.8626
Epoch 98/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3344 - accuracy: 0.8639
Epoch 99/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3348 - accuracy: 0.8630
Epoch 100/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3344 - accuracy: 0.8641

In [ ]:
yp=model.predict(X_test)
yp

array([[0.02348968],
       [0.04882869],
       [0.05026868],
       ...,
       [0.0070962 ],
       [0.0142124 ],
       [0.08821842]], dtype=float32)

In [ ]:
y_predicted=[]

for i in yp:
  if i>=0.5:
    y_predicted.append(1)
  else:
    y_predicted.append(0)

In [ ]:
y_test[500:530]

2663    0
8001    0
6416    0
5974    0
329     0
491     0
5837    0
1709    0
2597    0
6672    0
9476    0
179     1
5750    1
6136    0
6090    0
6020    0
3628    0
9098    0
3024    0
6645    0
9447    1
6773    0
5749    0
5480    0
9581    0
1377    0
6768    0
5428    0
1406    0
6556    1
Name: Exited, dtype: int64

In [ ]:
y_predicted[500:530]

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1]

In [ ]:
model.evaluate(X_test,y_test)

63/63 [==============================] - 2s 31ms/step - loss: 0.3562 - accuracy: 0.8545

[0.3562374413013458, 0.8544999957084656]

In [ ]:
y_test.shape

(2000,)

In [ ]:
from sklearn.metrics import confusion_matrix,classification_report

print(classification_report(y_predicted,y_test))

              precision    recall  f1-score   support

           0       0.97      0.87      0.91      1784
           1       0.41      0.76      0.53       216

    accuracy                           0.85      2000
   macro avg       0.69      0.81      0.72      2000
weighted avg       0.91      0.85      0.87      2000